$primaryColor: #3ce2ad;
$color1: #b9f7f9;
$secondaryColor: #363636;
$color2: #0abb83;
$border: #cccccc;
$lightgrey: #f7f8f9;
$grey: #666666;
$red: #ff0000;
$primaryDark: #2c2c2c;
$bodyTextColor: #666666;
$placeholderColor: #888888;
$white: #ffffff;
$black: #000000;

$bodyFontSize: 17px;
$bodyLineHeight: 1.4;
$bodyFontFamily: 'Poppins', sans-serif;
$headmediumfont: 'Poppins', sans-serif;
$headingFont: 'Poppins', sans-serif;
$somefont: 'Roboto', sans-serif;
$newFont: 'Playfair Display', serif;
$h1Size: 40px;
$h2Size: 36px;
$h3Size: 22px;
$h4Size: 16px;

@mixin resetUl {
    list-style: none;
    margin: 0;
    padding: 0;
}